#!/usr/bin/env bash
PATH_add scripts/
mkdir -p data/
rm data/.envrc > /dev/null 2>&1
echo "#!/usr/bin/env bash" > data/.envrc
echo 'echo -e "\e[1;31msht scripts will not work here.\e[0m"' > data/.envrc
direnv allow data/.envrc
direnv allow scripts/.envrc
direnv allow stacks/.envrc
chmod -R +x scripts/
echo -e "\e[1;32myou can use the sht CLI here to act on stacks.\e[0m"
